body {
  font-family: 'Montserrat';
  text-align: center;
}

h1 {
  font-size: 22px;
}

main {
  padding: 0% 35%;
  text-align: left;
}

label {
  font-weight: bold;
  font-size: 14px;
  margin: 3% 0%;
}

input {
  padding: 2% 2%;
  border-radius: 3px;
  font-size: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #ced4da;
}

input:focus {
  outline: none;
}

p {
  margin-bottom: 0;
  font-size: 11px;
  font-weight: bold;
  color: #fd7e14;
  padding: 0% 4%;
  text-align: center;
}

button {
  margin: 3% 0%;
  padding: 3% 8%;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #343a40;
  /* background-color: #37b24d; */
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
}

.input-success {
  border-width: 2px;
  border-color: #37b24d;
}

.input-danger {
  border-width: 2px;
  border-color: #fa5252;
}

.btn-success {
  background-color: #37b24d;
}

.hidden {
  display: none;
}